.chart {
  flex: 4;
  border-radius: 5px;

  padding: 20px;
  box-shadow: 4px 7px 17px 1px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: 4px 7px 17px 1px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: 4px 7px 17px 1px rgba(212, 212, 212, 0.75);
}

.title {
  color: rgb(155, 155, 155);
  font-size: 16px;
  font-weight: 600;
}
