.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 0.5px solid rgb(172, 168, 168);
  padding: 10px;
}
.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 30px;
}
.search {
  border: 1px solid darkgray;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  border: none;
  outline: none;
}
.items {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
  /* background-color: yellow; */
}
.language {
  font-size: 10px;
}

.icon {
  font-size: 20px;
}
.badge {
  background-color: red;
  font-size: 8px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4px;
  right: -4px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
